* {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.main-container {
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  margin: 20px;
  padding: 5px;
  text-align: center;
  height: 80vh;
  border-radius: 15px;
  background-color: #FFF;
  box-shadow: 0 3px 13px 1px rgba(220, 43, 0, 0.5);
}

.logo {
  width: 300px;
  margin-bottom: 40px;
}

.arrow-container{
  margin-bottom: 40px;
}

.arrow {
  width: 80px;
}

.links-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  color: #DC2B00;
}

.fixed-bottom{
  bottom: 10px
}

footer {
  text-align: center;
}

.home {
  width: 50px;
}